DATABASE_URL=postgres://ght:ght@localhost:5433/ghtrending
DATABASE_URL_TEST=postgres://ght:ght@localhost:5433/ghtrending_test
DATABASE_URL_TEST_COLLECTOR=postgres://ght:ght@localhost:5433/ghtrending_test_collector
DATABASE_URL_TEST_API=postgres://ght:ght@localhost:5433/ghtrending_test_api
JWT_SECRET=change-me
GITHUB_TOKEN=
LANGUAGES=
COLLECT_TIME=09:00
COOKIE_SECURE=false
